# Data science tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

Some of the popular languages that data scientists use are

- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include
1 Numpy
2 Panda
3 Tensorflow

| Data Science Tools |
|--------------------|
| Apache |
| Spark |
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

# This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author
Krunal Solanki